/*Body syles*/

html, body{
    height: 100%;
    width: 100%;
    background-image: -webkit-linear-gradient(90deg, #8B4513 0%, #D2B48C 50%, #8B4513 100%); 
    background-image: -moz-linear-gradient(90deg, #8B4513 0%, #D2B48C 50%, #8B4513 100%); 
    background-image: -o-linear-gradient(90deg, #8B4513 0%, #D2B48C 50%, #8B4513 100%); 
    background-image: linear-gradient(90deg, #8B4513 0%, #D2B48C 50%, #8B4513 100%); 
}
body{
    display: grid;
        grid-template:
        [header-left] "header" [header-right]
        [nav-left] "nav" 90px[nav-right]
        [main-left] "main" 1fr[main-right]
        [footer-left] "footer"[footer-right]  
}
/*Header styles*/
header{
    grid-area: header;
    text-align: center;
}
/*Nav bar styles*/
nav{
    grid-area: nav;
}
#navbar ul{
     order: 2;
    list-style-type: none;
    align-content: center;
    display: flex;
    
}
#navbar ul li{
    float:left;
    margin: 0 auto;
    position:relative;
}
#navbar ul li a{
    font-family: "Myriad Variable Concept", "Times New Roman", "Sans Serif";
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 0 auto;
}
#navbar a.current{
    color: white;
}
#navbar a#about_us{
    text-align: right;
}
/*main styles*/
main{
    display: flex;
    grid-area: main;
}
#div1{
     margin: auto;
    display: block;
    height: 75%;
    width: auto;
    text-align: center;
    align-content: center;
    margin-top: 5%;
}
#center{
   margin-top: 10vh;
}
#div2{
    margin: auto auto auto 0;
    display: block;
    height: 75%;
    width: 30%; 
}
#coffee{
        border-style: solid;
    border-width: 6px;
    height: 300px;
    width: 500px;
}
/*Footer styles*/
footer{
   grid-area: footer;
    background-color: #8B4513;
    text-align: center;
}
@media only screen and (max-width: 550px) {
    #navbar ul li a{font-size: 20px}
    #logo{height: 40%; width: 40%;}
}
@media only screen and (max-width: 400px) {
    #navbar ul li a{font-size: 15px}
    #logo{height: 25%; width: 25%;}
    footer p{font-size: 10px;}
}   
